К вам на анализ попал набор данных о работе сервиса по продаже авиабилетов с дневной агрегацией. Вашей задаче будет рассчитать определенные показатели для каждого месяца, представленные ниже.

Данные содержат:

Дату

Идентификатор сессии

Идентификатор пользователя

Сумму оплаты во время сессии

Оценку сервиса (она запрашивается у пользователя после оформления билетов)

 

Используя данные, рассчитайте показатели для каждого месяца:

Количество сессий

MAU

WAU (среднее)

DAU (среднее)

Липкость 

Конверсию в продажу

ARPU

ARPPU

Удовлетворенность клиентов

Для второй недели января рассчитайте Retention с 1 по 10 недели. Постройте график, сделайте выводы.

Загрузите ваш notebook на или укажите ссылку на облачное хранилище (не забудьте открыть доступ к документу).

In [1]:
#импорты
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import math
import copy

In [3]:
#подключение таблиц
df = pd.read_csv(r'.\data.csv')
df

             Дата                      ID сессии  ID клиента  Доход  Оценка
0      2021-01-05  eeehjltlceclayhacecerhyyxhrxs    45870310    0.0     NaN
1      2021-01-06  eeehrcecacecerlrhacecerygejeb    76545402    0.0     NaN
2      2021-01-06     eeehalhalhjaracecerxhrhtrm      424242    0.0     NaN
3      2021-01-06  eeehrcecacecerlrhacecerygejeb    76545402    0.0     NaN
4      2021-01-06     eeehalhalhjaracecerxhrhtrm      424242    0.0     NaN
...           ...                            ...         ...    ...     ...
19005  2021-03-30   aleyeececegrjjacecerrnmslehl    25114341    0.0     NaN
19006  2021-03-30   aleyeececegrjjacecerrnmslehl    25114341    0.0     NaN
19007  2021-03-30   aleyeececegrjjacecerrnmslehl    25114341    0.0     NaN
19008  2021-03-30   aleyeheealhejacecerkprcecehf    12244122    0.0     NaN
19009  2021-03-30   aleyeteehacechtaceceryjasmjy     1513464    0.0     NaN

[19010 rows x 5 columns]

In [33]:
# количество ссеий для каждого пользователя по дням
user_session_count = df.groupby(['Дата','ID клиента'])['Доход'].agg(['count','sum']).reset_index()
user_session_count.sample(15).sort_values(by='Дата')

             Дата  ID клиента  count           sum
536    2021-01-17      141270      1   7969.383446
1483   2021-01-22    54244124      1      0.000000
1491   2021-01-22   231524542      1      0.000000
2559   2021-01-29    55442424      1  13835.735150
5477   2021-02-10     5332440      2      0.000000
6167   2021-02-12     5206122      1      0.000000
6458   2021-02-12    53225424      1      0.000000
6736   2021-02-13    42301440      1      0.000000
6754   2021-02-13    43424210      1      0.000000
8360   2021-02-19    32514212      1      0.000000
8908   2021-02-20    54244045      1      0.000000
10749  2021-02-27    45253232      1      0.000000
11005  2021-02-28    54251531      1      0.000000
12285  2021-03-03    42443451      1      0.000000
11938  2021-03-03     1463430      3      0.000000

In [ ]:
# таблица с id клиентом, сколько раз он заходил и как часто

In [ ]:
# таблица по дням, сколько сессий и доход по дням